{% extends "layouts/baseLogin.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="bodyL">
    <h1 class="titleL">
        Login
    </h1>
    <h1 class="fondo" style= "text-align: center">
        <img src="{% static 'NewRow.png' %}" alt="" width="100" >
    </h1>
    <div class="fondo">
        <div>
            <h2 class="fondo">Register</h2>
            <form>
                <input type="text" placeholder="name"/>
                <input type="password" placeholder="password"/>
                <input type="text" placeholder="email address"/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <h2 class="fondo">Login</h2>
            <form action="{% url 'home' %}">
                <input type="text" placeholder="username"/>
                <input type="password" placeholder="password"/>
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

</body>
</html>

{% endblock %}