<!DOCTYPE html>

<html lang="es">

<head>
    <title>Login</title>
</head>

<body>
    <div class="welcome" style="font-family: 'Courier New', Courier, monospace; font-size: 50px;"> 
        Bienvenido a el proyecto kiosko
    </div>
    <div class="login" style="font-family: Georgia, 'Times New Roman', Times, serif; border: 3px  solid  red; margin: 175px 35% auto;">
        <ol>
        <li>Por acá esta el registro</li>

        <li>El usuario:</li> 

        <li>La contraseña:</li>
        </ol>    
    </div>
</body>
</html>