{% extends "layouts/base.html" %}

{% block content %}

<h1 class="title">
    Catálogo Virtual
</h1>

{% for p in productos %}

<div class="prod">
    <h2 class="sapce_p" >${{p.precio}} {{p.name}}
        <button>
            🛒 Agregar
        </button>
        <button>
            🗑 Eliminar
        </button>
    </h2>
</div>
{% endfor %}

<form action="{% url 'payment' %}">
    <button>
        🤑 Pagar
    </button>
</form> 

<form action="{% url 'row' %}">
    <button>
        Unirse a la fila
    </button>
</form>


{% endblock %}