{% extends "layouts/base.html" %}

{% block content %}

<h1 class="title">
    Catálogo Virtual
</h1>

{% for p in productos %}

<div class="prod">
    <h2 class="space_p" > {{p.precio}} {{p.name}} </h2>
    <div class="caja">
        <button>
            🛒 Agregar
        </button>
        <button>
            🗑 Eliminar
        </button>
    </div>
</div>

{% endfor %}

<form action="{% url 'payment' %}">
    <button>
        🤑 Pagar
    </button>
</form> 

<form action="{% url 'row' %}">
    <button>
        Unirse a la fila
    </button>
</form>


{% endblock %}