body {
    background: #473198;
    color: #eef596;
}

.navbar {
    background-color: white;
    padding: 2px 10px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color:rgb(255, 153, 0);
    text-decoration: none;
}

.navbar ul li a:hover {
    color: black;
}

.card {
    background-color: gray;
    color: yellow;
    padding: 10px;
    margin-bottom: 2px;
}

.prod {
    background-color: rgb(200, 197, 197);
    color: black;
    flex-direction: row;
}
.caja {
    width: 100%;
    display: flex;
    justify-content:right;
}

.space_p {
    justify-content:space-between;
    display: flex;
}

.title {
    color: black;
    display:flex;
    justify-content: center;
}

.buscar {
    display:flex;
    justify-content: center;
    background-color: rgb(185, 185, 185);
    color: yellow;
    padding: 5px;
    margin-bottom: 2px;
}

.tiendas {
    list-style: none;
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-color:yellow;
    padding: 10px;
    display:flex;
    justify-content: center;

}

.padding {
    padding: 10px;
    justify-content: left;
}

.bodyL {
    padding: 100px 0px  0px 0px;
    background: #473198;
    color: #000000;
}
.titleL {
    color:black;
    display:flex;
    justify-content: center;
    font-family: Verdana;
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

.fondo {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}
